.App{
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 0 0 20px 0;
}
.title{
  text-align: center;
  background-color: lightgray;
}
.search-area{
  margin-bottom: 50px;
}
.contact-Card{
  border: 1px solid lightgray;
  padding: 10px 0;
  margin: 5px 0;
  box-sizing: border-box;
}